name: Daily Commits

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  auto-commit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Make 5 commits
      run: |
        for i in {1..5}
        do
          echo "Auto commit $(date) $i" >> spam.txt
          git add spam.txt
          git commit -m "Daily auto commit $i"
        done

    - name: Push changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git push
